/////////////////////////
// Blocks
/////////////////////////

// Misc

.numbered-title {
  font-size: var(--fs-500);
  font-family: var(--ff-sans-cond);

  text-transform: uppercase;
  letter-spacing: 4.72px;

  span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / 0.25);
  }
}

// Components

.large-button {
  position: relative;
  z-index: 1;

  display: grid;
  place-items: center;

  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;

  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;

    border-radius: 50%;
    z-index: -1;

    opacity: 0;

    background-color: hsl(var(--clr-white) / 0.1036);
    transition: opacity 500ms linear, transform .5s ease-in-out;
  }

  &:hover, &:focus {
    &::after {
      opacity: 1;
      transform: scale(1.5);
      transform-origin: center;
    }
  }
}

