/////////////////////////
// Blocks
/////////////////////////

// Misc

.numbered-title {
  font-size: var(--fs-500);
  font-family: var(--ff-sans-cond);

  text-transform: uppercase;
  letter-spacing: 4.72px;

  span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / 0.25);
  }
}

// Pages

body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url("/assets/home/background-home-mobile.jpg");
  
  @media screen and (min-width: 35em) {
    background-position: center center;
    background-image: url("/assets/home/background-home-tablet.jpg");
  }

  @media screen and (min-width: 45em) {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
}

// Components

.large-button {
  position: relative;
  z-index: 1;

  display: inline-grid;
  place-items: center;

  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;

  font-size: 2rem;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;

    border-radius: 50%;
    z-index: -1;

    opacity: 0;

    background-color: hsl(var(--clr-white) / 0.1036);
    transition: opacity 500ms linear, transform 0.5s ease-in-out;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
      transform: scale(1.5);
      transform-origin: center;
    }
  }
}

.primary-navigation {
  --gap: 8rem;
  --underline-gap: 2rem;

  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;

    & > span {
      font-weight: 700;
      margin-right: 0.5em;
    }
  }
}

.underline-indicators {
  & > * {
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: 0.2rem solid transparent;

    &:hover, &:focus {
      border-bottom-color: hsl(var(--clr-white) / 0.5);
    }
    
    &.active, &[aria-selected="true"] {
      border-bottom-color: hsl(var(--clr-white));
    }
  }
}

.tab-list {
  --gap: 2.25rem;
  --underline-gap: 0.75rem;

  & > button {
    cursor: pointer;

    &[aria-selected="true"] {
      color: hsl(var(--clr-white));
    }
  }
}

.dot-indicators {
  --gap: 1.375rem;
  
  & > * {
    padding: .5rem;
    aspect-ratio: 1;

    border: 0;
    border-radius: 50%;

    background-color: hsl(var(--clr-white) / 0.174);
    
    cursor: pointer;
    
    &:hover, &:focus {
      background-color: hsl(var(--clr-white) / 0.5);
    }
    
    &[aria-selected="true"] {
      background-color: hsl(var(--clr-white));
    }
  }
}

.numbered-indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--numbered-gap, 2em);

  & > * {
    display: grid;
    place-items: center;

    width: 2em;
    aspect-ratio: 1;

    border: 1px solid hsl(var(--clr-white) / 0.25);
    border-radius: 50%;
    
    background: hsl(var(--clr-dark));

    cursor: pointer;

    transition: border-color .25s ease-in-out;

    &:hover, &:focus {
      border-color: hsl(var(--clr-white))
    }

    &[aria-selected="true"] {
      color: hsl(var(--clr-dark));
      background-color: hsl(var(--clr-white));
    }

  }
}
