/////////////////////////
// Blocks
/////////////////////////

// Misc

.numbered-title {
  font-size: var(--fs-500);
  font-family: var(--ff-sans-cond);

  text-transform: uppercase;
  letter-spacing: 4.72px;

  span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / 0.25);
  }
}

// Pages

body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url("/assets/home/background-home-mobile.jpg");

  @media screen and (min-width: 35em) {
    background-position: center center;
    background-image: url("/assets/home/background-home-tablet.jpg");
  }

  @media screen and (min-width: 45em) {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
}

.destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");

  @media screen and (min-width: 35em) {
    background-position: center center;
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }

  @media screen and (min-width: 45em) {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }
}

.crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");

  @media screen and (min-width: 35em) {
    background-position: center center;
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }

  @media screen and (min-width: 45em) {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }
}

// Components

.large-button {
  position: relative;
  z-index: 1;

  display: inline-grid;
  place-items: center;

  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;

  font-size: 2rem;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;

    border-radius: 50%;
    z-index: -1;

    opacity: 0;

    background-color: hsl(var(--clr-white) / 0.1036);
    transition: opacity 500ms linear, transform 0.5s ease-in-out;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
      transform: scale(1.5);
      transform-origin: center;
    }
  }
}

.logo {
  position: relative;
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 45em) {
    &::after {
      content: "";
      display: block;
      position: relative;

      height: 1px;
      background-color: hsl(var(--clr-light) / 0.25);

      z-index: 1;
      min-width: 4rem;
      flex-grow: 8;
      order: 1;
      margin-right: -2.5rem;
    }

    & > nav {
      order: 2;
      flex-grow: 1;
    }
  }
}

.mobile-nav-toggle {
  display: none;

  @media screen and (max-width: 35em) {
    display: block;

    position: absolute;
    z-index: 2000;
    top: 2rem;
    right: 1rem;

    background: transparent;
    border: 0;

    width: 1.5rem;
    aspect-ratio: 1;

    background-image: url("/assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    
    cursor: pointer;

    &:focus-visible {
      outline: 5px solid hsl(var(--clr-white));
      outline-offset: 5px;
    }
    
    &[aria-expanded="true"] {
      background-image: url("/assets/shared/icon-close.svg");
    }
  }
}

.primary-navigation {
  --gap: clamp(2rem, 5vw, 3.5rem);
  --underline-gap: 2rem;

  list-style: none;
  padding: 0;
  margin: 0;

  background: hsl(var(--clr-dark) / 0.95);
  
  @supports (backdrop-filter: blur(2rem)) {
    background: hsl(var(--clr-light) / 0.05);
    backdrop-filter: blur(2rem);
  }
  

  // Mobile Nav styles
  @media screen and (max-width: 35em) {
    --underline-gap: 1rem;
    --gap: 1rem;

    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;

    padding: min(20rem, 15vh) 2rem;
    margin: 0;

    flex-direction: column;

    &.underline-indicators > .active,
    &.underline-indicators > *:hover,
    &.underline-indicators > *:focus {
      border-color: transparent;
    }

    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    &[data-visible="true"] {
      transform: translateX(0);
    }
  }

  // Tablet Nav Styles
  @media (min-width: 35em) and (max-width: 44.999em) {
    padding-inline: 3rem;
  }
  
  // Desktop Nav Styles
  @media screen and (min-width: 45rem) {
    margin-block: 2.5rem;
    padding-inline: clamp(3rem, 10vw, 7.75rem);
  }

  // Nav Links
  a {
    text-decoration: none;

    & > span {
      font-weight: 700;
      margin-right: 0.5em;

      // Hide numbers on tablet
      @media screen and (min-width: 35em) and (max-width: 44.999em) {
        display: none;
      }
    }
  }
}

.underline-indicators {
  & > * {
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: 0.2rem solid transparent;

    &:hover,
    &:focus {
      border-bottom-color: hsl(var(--clr-white) / 0.5);
    }

    &.active,
    &[aria-selected="true"] {
      border-bottom-color: hsl(var(--clr-white));
    }
  }
}

.tab-list {
  --gap: 2.25rem;
  --underline-gap: 0.5rem;

  & > button {
    background-color: transparent;
    cursor: pointer;

    &[aria-selected="true"] {
      color: hsl(var(--clr-white));
    }
  }
}

.dot-indicators {
  --gap: 1.375rem;

  & > * {
    padding: 0.5rem;
    aspect-ratio: 1;

    border: 0;
    border-radius: 50%;

    background-color: hsl(var(--clr-white) / 0.174);

    cursor: pointer;

    &:hover,
    &:focus {
      background-color: hsl(var(--clr-white) / 0.5);
    }

    &[aria-selected="true"] {
      background-color: hsl(var(--clr-white));
    }
  }
}

.numbered-indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--numbered-gap, 2em);

  & > * {
    display: grid;
    place-items: center;

    width: 2em;
    aspect-ratio: 1;

    border: 1px solid hsl(var(--clr-white) / 0.25);
    border-radius: 50%;

    background: hsl(var(--clr-dark));

    cursor: pointer;

    transition: border-color 0.25s ease-in-out;

    &:hover,
    &:focus {
      border-color: hsl(var(--clr-white));
    }

    &[aria-selected="true"] {
      color: hsl(var(--clr-dark));
      background-color: hsl(var(--clr-white));
    }
  }
}
