---
const route = Astro.request.url.pathname;

const linkClasses = "uppercase text-white ff-sans-cond letter-spacing-2";
---

<div class="primary-header flex">
  <div class="">
    <img class="logo" src="/assets/shared/logo.svg" alt="space tourism logo">
  </div>

  <nav class="container text-white">
    <ul class="primary-navigation underline-indicators flex">

      <li class={route == "/" && 'active'}>
        <a class={linkClasses} href="/"><span>00</span> Home</a>
      </li>

      <li class={route == "/destination" && 'active'}>
        <a class={linkClasses} href="/destination"><span>01</span> Destination</a>
      </li>

      <li class={route == "/crew" && 'active'}>
        <a class={linkClasses} href="/crew"><span>02</span> Crew</a>
      </li>

      <li class={route == "/technology" && 'active'}>
        <a class={linkClasses} href="/technology"><span>03</span> Technology</a>
      </li>
    </ul>
  </nav>
</div>
