---
const route = Astro.request.url.pathname;

const linkClasses = "uppercase text-white ff-sans-cond letter-spacing-2";
---

<div class="primary-header flex">
  <div class="">
    <img class="logo" src="/assets/shared/logo.svg" alt="space tourism logo">
  </div>

  <button id="mobile-nav-toggle" class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
    <span class="sr-only">Menu</span>
  </button>

  <nav class="container text-white">
    <ul id="primary-navigation" class="primary-navigation underline-indicators flex" data-visible="false">

      <li class={route == "/" && 'active'}>
        <a class={linkClasses} href="/"><span>00</span> Home</a>
      </li>

      <li class={route == "/destination" && 'active'}>
        <a class={linkClasses} href="/destination"><span>01</span> Destination</a>
      </li>

      <li class={route == "/crew" && 'active'}>
        <a class={linkClasses} href="/crew"><span>02</span> Crew</a>
      </li>

      <li class={route == "/technology" && 'active'}>
        <a class={linkClasses} href="/technology"><span>03</span> Technology</a>
      </li>
    </ul>
  </nav>
</div>

<script hoist>
  const toggle = document.getElementById("mobile-nav-toggle");
  const nav = document.getElementById("primary-navigation");

  toggle.addEventListener("click", () => {
    toggle.setAttribute("aria-expanded", toggle.getAttribute("aria-expanded") === "false");
    nav.setAttribute("data-visible", nav.getAttribute("data-visible") === "false");
  });
</script>
