---
import Nav from "../components/Nav.astro";

export interface Props {
  title?: string;
};

const { title } = Astro.props;

let headerTitle;
if (title) {
  headerTitle = `${title} - Frontend Mentor | Space tourism website`;
} else {
  headerTitle = `Frontend Mentor | Space tourism website`;
}

const route = Astro.request.url.pathname.slice(1) || "home";
---

<style lang="scss">
  .skip-links {
    position: absolute;
    top: 0;
    width: max-content;
    z-index: 9999;

    padding: 0.5rem 2.5rem;

    background-color: hsl(var(--clr-white));
    
    transform: translateY(-100%);
    transition: transform 0.15s ease-in-out;

    &:focus-within {
      transform: translateY(0);
    }

    a {
      color: hsl(var(--clr-dark));
      text-decoration: none;
    }
  }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="stylesheet" href="{Astro.resolve('../styles/main.css')}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap" rel="stylesheet"> 
    
  <title>{headerTitle}</title>
</head>
<body class={route}>

  <div class="skip-links">
    <a href="#main">Skip to content</a>
  </div>

  <Nav />

  <main id="main" class="grid">
    <slot />
  </main>

</body>
</html>